<div class="row">
    <div class="col-12">
        <h1 class="text-center">
            Hola keno

            <div class="row">
                <div class="col-4">
                    <div class="componente1">
                        <app-jackpot></app-jackpot>
                    </div>
                </div>
                <div class="col-4">
                    <div class="componente2">
                        componente 2
                    </div>
                </div>
                <div class="col-4">
                    <div class="componente3">
                        <app-streming></app-streming>
                    </div>
                </div>
            </div>


        </h1>
    </div>
</div>