<div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
        <div class="card bg-secondary border-0 mb-0">
            <div class="card-header bg-transparent pb-5">
                <div class="text-muted text-center mt-2 mb-3"><small>Sign in with</small></div>
                <div class="btn-wrapper text-center">
                    <a href="#" class="btn btn-neutral btn-icon">
                        <span class="btn-inner--icon"><img src="../assets/img/icons/common/github.svg"></span>
                        <span class="btn-inner--text">Github</span>
                    </a>
                    <a href="#" class="btn btn-neutral btn-icon">
                        <span class="btn-inner--icon"><img src="../assets/img/icons/common/google.svg"></span>
                        <span class="btn-inner--text">Google</span>
                    </a>
                </div>
            </div>
            <div class="card-body px-lg-5 py-lg-5">
                <div class="text-center text-muted mb-4">
                    <small>Or sign in with credentials</small>
                </div>

                <form #frmLogin="ngForm">
                    <div class="form-group mb-3">
                        <div class="input-group input-group-merge input-group-alternative">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                            </div>
                            <input type="email" class="form-control" name="user" [(ngModel)]="user" #txtUser="ngModel" placeholder="Email" required minlength="3" [ngClass]="{
                              'is-invalid': (txtUser.errors?.required || txtUser.errors?.minlength ) && txtUser.touched,
                              'is-valid': !txtUser.errors?.required && !txtUser.errors?.minlength && txtUser.touched
                            }">
                        </div>
                        <span class="text-danger" *ngIf="txtUser.errors?.required && txtUser.touched">
                          <small>*Requerido</small>
                        </span>
                        <span class="text-danger" *ngIf="txtUser.errors?.minlength && txtUser.touched">
                          <small>*Minino 3 caracteres</small>
                        </span>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-merge input-group-alternative">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                            </div>
                            <input class="form-control" placeholder="Password" type="password">
                        </div>
                    </div>

                    <!-- input numérico -->

                    <div class="form-group">
                        <div class="input-group input-group-merge input-group-alternative">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                            </div>

                            <input type="number" class="form-control text-right" placeholder="Edad" name="txtYears" [(ngModel)]="years" #txtYears="ngModel" required min="18" max="50" [ngClass]="
                            {'is-invalid': (txtYears.errors?.required || years < 18 || years > 50) && txtYears.touched,
                              'is-valid': !txtYears.errors?.required && !years < 18 && !years > 50   && txtYears.touched
                        }">

                        </div>
                        <span *ngIf="txtYears.errors?.required && txtYears.touched">
                          <small class="text-danger"> *Requerido </small>
                        </span>

                        <span *ngIf="years < 18 && txtYears.touched">
                          <small class="text-danger"> *Minimo 1 </small>
                        </span>

                        <span *ngIf="years > 50 && txtYears.touched">
                          <small class="text-danger"> *Máximo 50 </small>
                        </span>
                    </div>


                    <div class="custom-control custom-control-alternative custom-checkbox">
                        <input class="custom-control-input" id=" customCheckLogin" type="checkbox">
                        <label class="custom-control-label" for=" customCheckLogin">
                  <span class="text-muted">Remember me</span>
                </label>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary my-4" (click)="onLogin()">Sign in</button>
                    </div>
                </form>

            </div>
        </div>
        <div class="row mt-3">
            <div class="col-6">
                <a href="#" class="text-light"><small>Forgot password?</small></a>
            </div>
            <div class="col-6 text-right">
                <a href="#" class="text-light"><small>Create new account</small></a>
            </div>
        </div>
    </div>
</div>