<!-- sidenav -->
<!-- Sidenav -->
<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scrollbar-inner">
        <app-side-bar></app-side-bar>
    </div>
</nav>
<div class="main-content" id="panel">

    <!-- navbar -->
    <app-nav-bar></app-nav-bar>
    <div class="container-fluid mt--6">

        <router-outlet></router-outlet>
        <!-- footer -->
        <app-footer></app-footer>
    </div>

</div>